@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply text-xs px-3 py-1 rounded-xl transition-all duration-300 disabled:opacity-25
}
.btn.primary {
  @apply bg-sky-400 hover:bg-sky-700 text-black hover:text-white
}
.btn.success {
  @apply bg-green-400 hover:bg-green-700 text-white
}

h1 {
  @apply text-3xl my-4
}

h2 {
  @apply text-2xl my-4
}

h3 {
  @apply text-xl my-4 font-bold
}
